APP_NAME='Netreverb'
APP_ENV=local
APP_KEY=base64:im0/pNmtNW3mVwWWW4EloLK3yf1efpYzaZKxt9Eb6p8=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=netreverb_backend
DB_USERNAME=abduljabbar
DB_PASSWORD=ibrahim

KAMAILIO_DB_HOST=127.0.0.1
KAMAILIO_DB_PORT=3307
KAMAILIO_DB_DATABASE=kamailio
KAMAILIO_DB_USERNAME=netreverb_provisioner
KAMAILIO_DB_PASSWORD=Provisioner123
KAMAILIO_DB_SOCKET=
KAMAILIO_DB_SSL_CA=
KAMAILIO_SIP_REALM=sip.classyra.com.ng
AUTOMATIC_EXTENSION_START=100000
AUTOMATIC_EXTENSION_END=899999
FRONTEND_URL=http://localhost:5174
API_DOCS_ENABLED=true

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=mail.classyra.com.ng
MAIL_PORT=465
MAIL_USERNAME=mail@classyra.com.ng
MAIL_PASSWORD=Classyra@123
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="mail@classyra.com.ng"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

FREESWITCH_HOST=127.0.0.1
FREESWITCH_PORT=8021
FREESWITCH_PASSWORD=ClueCon
FREESWITCH_RECORDINGS_DIR=storage/app/freeswitch/recordings/conferences


FREESWITCH_EVENT_SOCKET_HOST=127.0.0.1
FREESWITCH_EVENT_SOCKET_PORT=8021
FREESWITCH_CALL_RECORDINGS_BASE_PATH=/usr/local/freeswitch/var/lib/freeswitch/recordings/calls
FREESWITCH_RECORDINGS_BASE_PATH=/usr/local/freeswitch/var/lib/freeswitch/recordings/conferences

TURN_SECRET=4ab7025f05e70386be05f917dc863aa1c3bc13e93e3ee381b070b256d5af1504
TURN_HOST=sip.classyra.com.ng
TURN_PORT=3478
TURNS_PORT=5349
TURN_CREDENTIAL_TTL=600
KAMAILIO_WSS_URL=wss://sip.classyra.com.ng:7443
SIP_REGISTRATION_EXPIRES=300
# //command to run when u want the database connected to the vps 
# ssh -L 3307:127.0.0.1:3306 deploy@sip.classyra.com.ng
# comand for recording
# ssh -N -L 8021:127.0.0.1:8021 deploy@sip.classyra.com.ng
#  php artisan recordings:sync-from-vps
#  - local reset: php artisan netreverb:fresh
#   - local reset with seeders: php artisan netreverb:fresh --seed
# php artisan recordings:sync-from-vps
#   php artisan recordings:reconcile-call-metadata
#   - Kamailio-only cleanup: php artisan telephony:reset-kamailio-subscribers
